@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Gajraj+One&family=Nothing+You+Could+Do&family=Open+Sans:wght@300&family=Playfair+Display&family=Raleway:wght@300&family=Rubik:wght@300&display=swap');

* {
    font-family: 'Shantell Sans', cursive;
}

body {
    margin-top: 20px;
    padding: 0;
    min-height: 100vh;
    /* height: max-content; */
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #F2EAD3;
    overflow-x: hidden;
}

.container {
    background-color: #DFD7BF;
    height: max-content;
    min-height: 400px;
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#ToDoTitle {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
    font-size: 32px;
    font-weight: bold;
    background-color: #884A39;
    border-radius: 20px 20px 0px 0px;
}

#parent {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding: 20px 0px;
}

.ToDo {
    padding: 5px 0px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.createToDo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 90%;
}

.checkToDo {
    width: 5%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkBoxToDo {
    accent-color: rgba(80, 35, 35);
}

.checkBoxToDo:hover {
    cursor: pointer;
}

.whatToDo {
    width: 95%;
    height: max-content;
}

.whatToDoText {
    background-color: rgba(80, 35, 35, 0.2);
    color: #F5F5F5;
    border-radius: 2px;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 24px;
    padding: 5px;
}

.whatToDoText:focus {
    outline: 1px solid rgba(80, 35, 35);
    box-shadow: rgba(80, 35, 35, 0.35) 0px 5px 10px;
}


.removeToDo {
    color: #f3f3f3e5;
    width: 5%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeToDo:hover {
    cursor: pointer;
    color: rgba(80, 35, 35);
}

#addToDo {
    color: #F5F5F5;
    background-color: #884A39;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    margin: 20px 0px;
    cursor: pointer;
}

#addToDo:hover {
    background-color: #884A39;
    color: #F5F5F5;
    border: 1px solid #884A39;
    box-shadow: #884A39 0px 0px 10px;
}

.completed {
    text-decoration: line-through;
    color: rgba(80, 35, 35);
    background-color: rgba(80, 35, 35, 0.5);
}

@media only screen and (min-width: 750px) {
    .container {
        min-height: 500px;
        width: 55%;
    }

    #ToDoTitle {
        font-size: 46px;
    }
}

/* ------------------------------ End of code ------------------------------ */
